
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.line{
   display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow:hidden;

}
.lineThree{
    display: -webkit-box;
     -webkit-line-clamp:3;
     -webkit-box-orient: vertical; 
     overflow:hidden;
 
 }